# pixi environments
.pixi/*
!.pixi/config.toml
.claude/*
eval/evaluation.log
eval/results/*
__pycache__/test.cpython-312.pyc
eval/scripts/__pycache__/run_ruler.cpython-312.pyc
todo
METHOD.md
qkv_analysis/*
analyze_qkv_distribution.py
